@import '_variables.scss';

.headerHome,
.mainHome,
.footerMain {
    max-width: 80vw;
    margin: auto;
}

body {
    .headerHome {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 3em;

        a {
            text-decoration: none;
            margin-left: 1.5em;
            color: $color-primary;
            transition: all .2s ease-in;

            &:hover {
                color: $hover;
            }
        }

        .logoHomeMain {
            display: flex;
            align-items: center;
        }

        .loginRegisterMain {
            button {
                background-color: $color-primary;
                border: none;
                border-radius: 5px;
                padding: 10px;
                color: $bgFormsCards;
                font-size: 1em;
                margin-left: 1em;
                cursor: pointer;
                transition: all .2s ease-in;

                &:hover {
                    background-color: $hover;
                    transform: translateY(-3px) scale(1.05);
                }

                &:active {
                    transform: translateY(3px);
                }
            }
        }
    }

    .mainHome {
        margin-top: 2em;

        section {
            .formMain {
                text-align: center;
                background-color: $bgFormsCards;
                padding: 2em;
                margin-bottom: 7%;

                div {
                    h3 {
                        font-size: 2.5em;
                        font-family: 'Josefin Sans', sans-serif;

                        &::selection {
                            background-color: $hover;
                        }
                    }

                    p {
                        color: $color-secondary;
                        margin-bottom: 1.2em;
                    }

                    form {
                        input {
                            padding: .9em;
                            border: .2px solid rgb(212, 212, 212);
                            outline: none;
                            margin-right: .3em;
                        }

                        button {
                            padding: .9em;
                            margin-left: .3em;
                            border: none;
                            background-color: $color-primary;
                            color: $bgFormsCards;
                            cursor: pointer;
                            transition: all .3s ease-in;

                            &:hover {
                                background-color: $hover;
                                transform: translateY(-1px) scale(1.02);
                            }

                            &:active {
                                transform: translateY(3px);
                            }
                        }
                    }
                }

                .addCardMain {
                    color: $color-secondary;
                    font-size: .8em;
                    margin-top: .5em;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .cardsDisplay {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .cardsMain {
                text-align: center;
                background-color: $bgFormsCards;
                max-width: 31%;
                border-radius: 10px;
                height: auto;
                margin-bottom: 2em;
                padding-bottom: .7em;
                transition: all .3s ease-in;
                box-shadow: 2px 0px 78px -27px rgba(0,0,0,0.05);

                img {
                    width: 90%;
                    height: 60%;
                    margin-bottom: .4em;
                    margin-top: 1em;
                    border-radius: 10px;
                }

                h4 {
                    font-size: 1em;
                    margin-bottom: .4em;
                    text-transform: uppercase;
                }

                p {
                    color: $color-secondary;
                    font-size: .8em;
                    max-width: 80%;
                    margin: auto;
                    margin-bottom: 1em;
                }

                button {
                    width: 50%;
                    color: $bgFormsCards;
                    padding: .8em;
                    background-color: $color-primary;
                    border: none;
                    margin-bottom: 1.5em;
                    cursor: pointer;
                    transition: all .3s ease-in;

                    &:hover {
                        background-color: $hover;
                        border: none;
                    }
                }

                &:hover{
                    transform: scale(1.02);
                    box-shadow: 2px 0px 78px -27px rgba(0,0,0,0.67);
                }
            }

        }
    }

    .footerMain {
        margin-top: 5em;
    }
}