@import '_variables.scss';

.headerLogin, .mainLogin{
    max-width: 80vw;
    margin: auto;
}

body{
    .headerLogin{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 3em;

        a{
            text-decoration: none;
            color: $color-primary;
            transition: all .3s ease-in;
            &:hover{
                transform: translateX(-.5em);
                color: $hover;
            }

            i{
                margin-right: .4em;
            }
        }
    }

    .mainLogin{
        display: flex;
        .sectionFormLogin{
            background-color: $bgFormsCards;
            width: 60%;
            margin-top: 7%;
            padding: 1em;

            h2{
                font-size: 2em;
                max-width: 80%;
                margin-bottom: .5em;
            }
            
            form{
                div{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1em;

                    label{
                        color: $color-secondary;
                        margin-bottom: .5em;
                    }

                    input{
                        max-width: 70%;
                        border: none;
                        outline: none;
                        padding: 1em;
                        background-color: rgba(190, 190, 190, 0.2);

                        &::placeholder{
                            font-size: 1.2em;
                            color: #afafaf;
                        }
                    }
                }
            }

            .buttonLogin{
                width: 70%;

                button{
                    padding: .8em;
                    font-size: 1em;
                    background-color: $color-primary;
                    color: $bgFormsCards;
                    font-family: 'Josefin Sans', sans-serif;
                    border: none;
                    width: 100%;
                    cursor: pointer;
                    transition: all .3s ease-in;


                    &:hover {
                        background-color: $hover;
                        transform: translateY(-1px) scale(1.02);
                    }

                    &:active {
                        transform: translateY(3px);
                    }
                }
    
                p{
                    text-align: center;
                    margin-top: .5em;
                    font-size: .8em;

                    span{
                        color: $hover;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        .sectionTestimonialLogin{
            max-width: 40%;
            margin-left: 8%;
            margin-top: 10%;
            text-align: center;

            h4{
                max-width: 55%;
                margin: auto;
                font-family: 'Josefin Sans', sans-serif;
                margin-bottom: 1em;
                font-size: 1.3em;
            }

            div{
                display: flex;
                justify-content: center;
                
                div{
                    display: flex;
                    flex-direction: column;
                    text-align: justify;
                    margin-left: 1em;
                }                
            }
        }
    }
}